.team-section {
  @apply p-5 flex flex-col items-center;
}

.team-title {
  @apply text-3xl font-bold mb-5 text-gray-300;
}

.team-members {
  @apply flex justify-center gap-8 flex-wrap p-5 bg-[#2F2F2F] border border-[#4A4A4A] shadow-[0_0_10px_rgba(255,255,255,0.5)] max-w-2xl transition-all duration-300;
}

.team-member {
  @apply text-center;
}

.team-placeholder-image1,
.team-placeholder-image2,
.team-placeholder-image3 {
  @apply w-32 h-32 rounded-full bg-cover bg-center border border-[#4A4A4A] shadow-[0_0_10px_rgba(255,255,255,0.5)] transition-all duration-300;
}

.team-placeholder-image1 {
  background-image: url('../../../assets/Jeka.jpg');
}

.team-placeholder-image2 {
  background-image: url('../../../assets/Vova1.jpg');
}

.team-placeholder-image3 {
  background-image: url('../../../assets/Artem.jpg');
}

.team-name,
.team-role {
  @apply text-gray-300 mt-2 text-base;
}