.why-choose-us-section {
  padding: 20px;
  background: #1A1A1A;
  text-align: center;
  position: relative;
}
.why-choose-us-content p {
  color: #D3D3D3;
  margin: 5px 0;
  font-size: 1rem;
  transform: translateY(10px);
  transition: transform 0.3s ease;
}
.why-choose-us-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #D3D3D3;
}

.why-choose-us-content {
  padding: 20px;
  background: #2F2F2F;
  border: 1px solid #4A4A4A;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.why-choose-us-content:hover .why-choose-us-text,
.why-choose-us-content:hover .why-choose-us-author {
  transform: translateY(0);
}

.why-choose-us-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}