.team-section {
  padding: 20px;
  background: #1A1A1A;
  text-align: center;
  position: relative;
}

.team-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #D3D3D3;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
}

.team-placeholder-image1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('../../assets/Jeka.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid #4A4A4A;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.team-placeholder-image2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('../../assets/Vova1.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid #4A4A4A;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.team-placeholder-image3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('../../assets/Artem.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid #4A4A4A;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.team-member:hover .team-placeholder-image1,
.team-member:hover .team-placeholder-image2,
.team-member:hover .team-placeholder-image3 {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.team-name,
.team-role {
  color: #D3D3D3;
  margin: 5px 0;
  font-size: 1rem;
  padding-top: 1rem;
}
